/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

a:hover, a:active{
    /*border-bottom: 2px black solid;*/
}

header{
    margin: 0px auto;
    display: block;
    width: 1000px;
}

header > h1{
    text-align: center;
}

#recent img{
    border: 2px solid black;
    padding: 5px;
    background-color: white;
}

#container{
    width: 1000px;
    margin: 0px auto;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
    background-color:  #91b73e;
    overflow: auto;
}

nav {
    border-bottom: 2px solid black;
    text-align: right;
}

nav .search{
    text-align: left;
    margin: 2px;
}

nav > ul{
    float: right;
    list-style: none;
    margin: 2px;
    padding: 0px;
}

nav li{
    margin: 2px;
    display: inline;
}

#content{
    width: 1000px;
}

#brand{
    width: 60%;
    margin: 0px auto;
    text-align: center;
}

 #sale{
    width: 100%;
    margin: 5px;
}

#recent{
    width: 50%;
    margin: 0px auto;
    text-align: center;
}

.info{
    float: right;
    width: 50%;
}

.image{
    float: left;
}

.main_image, .select{
    border: 2px solid black;
    padding: 5px;
    background-color: white;
}

.select{
    margin: 2px;
}

.reviews{
    clear: both;
    margin: 0px auto;
}

footer{
    margin: 0px auto;
    text-align: center;
    clear: both;
}