<h1>About Us</h1>
<p>
  SoccerToMe has been serving the Winnipeg area for 15 successful years.
  We have a successful brick and mortar store located in downtown Winnipeg serving recreational,
  amateur, and semiprofessional soccer players with the best and newest soccer boots (shoes).
  We also have a big customer base for soccer fans, selling kits (jerseys) from famous clubs around the world.
  We currently employ 7 employees in our store, spread between store representatives and managers.
</p>