<h1>Contact Us</h1>
<ul>
  <li><p><span class="column">Phone: </span>204-123-4567</p></li>
  <li><p><span class="column">email: </span>admin@soccertome.com</p></li>
  <li><p><span class="column">Address: </span>123 Main street, R1D 2F1, Winnipeg, MB</p></li>
</ul>